BasedOnStyle: Microsoft
IndentWidth: 4
TabWidth: 4
UseTab: Never
AccessModifierOffset: -1
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignOperands: true
AlignTrailingComments: true
AllowShortFunctionsOnASingleLine: Inline
AlwaysBreakTemplateDeclarations: Yes

BraceWrapping:
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  BeforeCatch: true
  BeforeElse: true

Cpp11BracedListStyle: true
DerivePointerAlignment: false
IndentCaseLabels: true
IndentPPDirectives: None
IndentWrappedFunctionNames: false
KeepEmptyLinesAtTheStartOfBlocks: false
MaxEmptyLinesToKeep: 1
NamespaceIndentation: None
PointerAlignment: Left

SortIncludes: CaseSensitive
SortUsingDeclarations: true
SpaceAfterTemplateKeyword: true
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
Standard: Latest

# Custom Identifier Naming
IncludeCategories:
  - Regex: '.*'
    Priority: 1
    SortPriority: 2
QualifierOrder: [ "inline", "namespace", "static", "extern" ]